<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bb40b6d5e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <title>Whatcha Got?</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <ul class="ulnav">
          <li><a href="home">Home</a></li>
          <li><a href="recipes">Recipes</a></li>



        </ul>

      </div>
    </nav>

    <section class="home-section">
      <div class="hero">

  <video autoplay loop muted plays-inline class="back-video">
    <source src="../images/chef.mp4" type="video/mp4">
  </video>

<div class="content">
  <a href="recipes"><h1>Whatca Got?</h1></a>


</div>
</div>
    </section>




























    <script type="text/javascript" src="js/index.js">
    </script>
    <script type="text/javascript" src="app.js">
    </script>
  </body>
</html>
