<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bb40b6d5e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Whatcha Got?</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <ul class="ulnav">
          <li><a href="home">Home</a></li>
          <li><a href="recipes">Recipes</a></li>



        </ul>

      </div>
    </nav>
    <div class="container">
      <div class="meal-wrapper">
        <div class="meal-search">
          <h2 class="title">Whatcha got in your fridge?</h2>
          <p>Search below, to see what you can rustle up</p>
            <div class="meal-search-box">
              <input type="text" class="search-control" placeholder="Enter ingredient" id="search-input">
              <button type="submit" name="button" class="search-btn btn" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>
        </div>
          <div class="meal-result">

            <div id="meal">



            </div>
            <div class="meal-details">
              <button type="button" name="button" class= "btn recipe-close-btn" id="recipe-close-btn"><i class="fa-solid fa-xmark"></i></button>
              <div class="meal-details-content">
                <h2 class="recipe-title">Name</h2>
                <p class="recipe-category">Category Name</p>
                <div class="recipe-instruct">
                  <h3>Instructions</h3>
                  <p>adadada</p>



                </div>
                <div class="recipe-meal-image">
                  <img src="images/chicken-stirfry.jpg" alt="food">
                </div>


              </div>
            </div>



          </div>
      </div>

    </div>




    <script type="text/javascript" src="js/index.js">
    </script>
    <script type="text/javascript" src="app.js">
    </script>
  </body>
</html>
